<div class="container">
   

        <label for="operando_A">Operando A</label>
        
        
        <input [(ngModel)]="operandoA" class="form-control mt-1" type="number">
        
        
        <label class="mt-3" for="operando_B">Operando B</label>
        
        <input [(ngModel)]="operandoB" class="form-control mt-1" type="number">
        
        
        <button [disabled]="verificar()"  (click)="onSumarDosNumeros()" class="btn btn-primary mt-3">Sumar</button> 
        
        <p>Resultado: {{resultado}} </p>

        <p *ngIf="sumado; else debeSumar">Sumado Correctamente</p>

        <ng-template #debeSumar>
        <p>Debe sumar los dos numeros</p>
        </ng-template>
    
</div>
